# ============================================================
#  Keil MDK (STM32 工程)
# ============================================================
Objects/
Objects-rk3588/
Listings/
Listings-rk3588/
*.uvguix.*
*.bak
*.dep
*.crf
*.o
*.d
*.axf
*.hex
*.lnp
*.htm
*.map
*.lst
*.sct
*.iex
*.build_log.htm
JLinkLog.txt
JLinkSettings.ini

# ============================================================
#  Arduino / ESP-IDF / PlatformIO (ESP32 工程)
# ============================================================
build/
.pio/
.vscode/
*.bin
*.elf

# ============================================================
#  编辑器 / 系统
# ============================================================
.vs/
.idea/
Thumbs.db
Desktop.ini
*.tmp
